<mat-card>
  <form [formGroup]="productFromGroup" (ngSubmit)="onSubmit()">
    <h2 *ngIf="productId > 0; else elseBlock">Edit Product</h2>
    <ng-template #elseBlock>
      <h2>Add New Product</h2>
    </ng-template>
    <mat-card-content fxLayout="column" fxLayoutGap="5px">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name" />
        <mat-error>Please enter product name.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <input type="number" matInput formControlName="price" />
        <mat-error>
          Please enter price.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Selling Price</mat-label>
        <input type="number" matInput formControlName="sellingPrice" />
        <mat-error>
          Please enter selling price.
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Submit</button>
    </mat-card-content>
  </form>
</mat-card>
