<div fxLayout="row" fxLayoutAlign="space-between">
  <h1> Product List </h1>
  <span>
    <button mat-raised-button color="warn" (click)="addProduct()" >Add New Product</button>
  </span>
  <span>
    <button mat-raised-button color="warn" (click)="addProduct()" >Add New User</button>
  </span>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="sellingPrice">
    <th mat-header-cell *matHeaderCellDef> Selling Price </th>
    <td mat-cell *matCellDef="let element"> {{element.sellingPrice}} </td>
  </ng-container>

  <ng-container matColumnDef="addedOn">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.addedOn | date:'long' }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <div fxLayout="row" fxLayoutGap="5px">
      <button mat-raised-button color="primary" (click)="editProduct(element.id)">Edit</button>
      <button  mat-raised-button color="warn" (click)="deleteProduct(element.id)">Delete</button>
      </div>
     </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


